@page "/revenue"

<div class="container" style="display: flex; flex-direction: column; width: 100%">

    <h2 style="display: flex; justify-content: space-between:center">Bislerium Cafe Sales History</h2>
    <br />
    <div style="display: flex; justify-content: space-between">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="dropbtn btn dropdown-toggle" style="background-color:rebeccapurple" data-bs-toggle="dropdown">Sorting By</button>
                        <div class="dropdown-content">
                            <button type="submit" @onclick='() => SortColumn("Name")'>Coffee Name</button>
                            <button type="submit" @onclick='() => SortColumn("Price")'>Coffee Price</button>
                            <button type="submit" @onclick='() => SortColumn("Number")'>Customer Num</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="dropbtn btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Export By</button>
                        <div class="dropdown-content">
                            <button @onclick="PDFGenerate">PDF</button>
                            <button @onclick="CSVGenerate">CSV</button>
                            <button @onclick="JSONGenerate">JSON</button>
                            <button @onclick="ExcelGenerate">EXCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <button class="btnpdf col-md-10" @onclick="TopPurchaseCoffeeAndAddInsGenerate">Top 5 purchased coffees and add-ins</button>
            </div>
        </div>

    </div><br />
   
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-success" role="alert">
            @errorMessage
        </div>
    }

    <div><br />
        <div style="display: flex; justify-content: space-between">
            <div class="col-md-6">
            <b><h3 for="coffeeName">Sales Transactions</h3></b>
            </div>
            <div class="col-md-4">
                <input @bind="searchTerm" class="form-control mb-6" type="search" placeholder="Search by name" aria-label="Search">
            </div>
            <div class="col-md-4">
                <button class="btnsearch mb-2" @onclick="CoffeeSearch">Search</button>
            </div>

        </div><br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Coffee Name</th>
                    <th>Coffee Price</th>
                    <th>Total Quantity</th>
                    <th>Add In Flavor</th>
                    <th>Add In Price</th>
                    <th>Customer Number</th>
                    <th>Discount Price</th>
                    <th>Total Price</th>
                    <th>Order Date</th>
                </tr>
            </thead>
            <tbody>
                @if (!string.IsNullOrEmpty(searchTerm))
                {
                    @foreach (var orderCoffee in filteredCoffeeOrders)
                    {
                        <tr>
                            <td>@orderCoffee.CoffeeName</td>
                            <td>@orderCoffee.CoffeePrice</td>
                            <td>@orderCoffee.TotalQuantity</td>
                            <td>@orderCoffee.AddFlavorName</td>
                            <td>@orderCoffee.AddFlavorPrice</td>
                            <td>@orderCoffee.CustomerNumber</td>
                            <td>@orderCoffee.DiscountPrice</td>
                            <td>@orderCoffee.TotalPrice</td>
                            <td>@orderCoffee.OrderDate</td>
                        </tr>
                    }
                }
                else
                {
                    @foreach (var orderCoffee in listOfCoffeeOrder)
                    {
                        <tr>
                            <td>@orderCoffee.CoffeeName</td>
                            <td>@orderCoffee.CoffeePrice</td>
                            <td>@orderCoffee.TotalQuantity</td>
                            <td>@orderCoffee.AddFlavorName</td>
                            <td>@orderCoffee.AddFlavorPrice</td>
                            <td>@orderCoffee.CustomerNumber</td>
                            <td>@orderCoffee.DiscountPrice</td>
                            <td>@orderCoffee.TotalPrice</td>
                            <td>@orderCoffee.OrderDate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<CoffeeOrder> listOfCoffeeOrder;
    private CoffeeOrder coffeeOrderModel = new();
    private string successMessage = "";
    private string errorMessage = "";

    // sorting functions
    private string sortedColumn = "";
    private bool sortAsc = true;

    // New property for search term
    private string searchTerm = "";
    private List<CoffeeOrder> filteredCoffeeOrders;

    protected override void OnInitialized()
    {
        try
        {
            listOfCoffeeOrder = OrderService.GetAllOrders();
            filteredCoffeeOrders = new List<CoffeeOrder>(listOfCoffeeOrder);
        }
        catch
        {
            listOfCoffeeOrder = new List<CoffeeOrder>();
            filteredCoffeeOrders = new List<CoffeeOrder>();
        }
    }

    private async Task TopPurchaseCoffeeAndAddInsGenerate()
    {
        var response = PDFServices.TopSellingPDFFileGenerate();
        if(response == null)
        {
            errorMessage = "Top Sell PDF report file is not generate!";
        } 
        else
        {
            successMessage = response;
        }
        await Task.Delay(2000);
        ClearMessage();
    }

    private async Task PDFGenerate()
    {
        var response = PDFServices.PDFReportFileGenerate();
        if(response == null)
        {
            errorMessage = "Fails to PDF report file generate!";
        } 
        else
        {
            successMessage = response;
        }
        await Task.Delay(2000); // Wait for 1 second
        ClearMessage();
    }

    private async Task CSVGenerate()
    {
        var response = CSVServices.CSVFileGenerate();
        if (response == null)
        {
            errorMessage = "CSV report file is not generate!";
        }
        else
        {
            successMessage = response;
        }
        await Task.Delay(2000); // Wait for 1 second
        ClearMessage();
    }

    private async Task JSONGenerate()
    {
        var response = JSONServices.JSONFileGenerate(listOfCoffeeOrder);
        if (response == null)
        {
            errorMessage = "JSON report file is not generate!";
        }
        else
        {
            successMessage = response;
        }
        await Task.Delay(2000); // Wait for 1 second
        ClearMessage();
    }

    private async Task ExcelGenerate()
    {
        var response = ExcelServices.ExcelFileGenerate();
        if (response == null)
        {
            errorMessage = "EXCEL report file is not generate!";
        }
        else
        {
            successMessage = response;
        }
        await Task.Delay(2000); // Wait for 1 second
        ClearMessage();
    }

    private void ClearMessage()
    {
        successMessage = "";
        errorMessage = "";
    }

    private void SortColumn(string columnName)
    {
        if (sortedColumn == columnName)
        {
            sortAsc = !sortAsc;
        }
        else
        {
            sortAsc = true;
            sortedColumn = columnName;
        }

        switch (columnName)
        {
            case "Name":
                if (sortAsc)
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderBy(x => x.CoffeeName).ToList();
                else
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderByDescending(x => x.CoffeeName).ToList();
                break;

            case "Price":
                if (sortAsc)
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderBy(x => x.CoffeePrice).ToList();
                else
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderByDescending(x => x.CoffeePrice).ToList();
                break;

            case "Number":
                if (sortAsc)
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderBy(x => x.CustomerNumber).ToList();
                else
                    listOfCoffeeOrder = listOfCoffeeOrder.OrderByDescending(x => x.CustomerNumber).ToList();
                break;

            // Add cases for other columns if needed
            default:
                break;
        }

        // Trigger UI update after sorting
        StateHasChanged();
    }

    // order history search by coffee name search
    private void CoffeeSearch()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            // Filter the list based on the search term
            filteredCoffeeOrders = listOfCoffeeOrder
                .Where(order => order.CoffeeName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            // If search term is empty, display all data
            filteredCoffeeOrders = new List<CoffeeOrder>(listOfCoffeeOrder);
        }
    }
}
